#dashboard {
  text-align: left;
}
$profile-size: 3rem;
.profile-picture {
  min-width: $profile-size;
  max-height: $profile-size;
  border-radius: $profile-size;
}
.messagebox {
  display: flex;
  flex-direction: column;
  background-color: #111;
  border-radius: 2rem;
  margin: 2rem 0;
  padding: 2rem;
  position: relative;
  .flexcol {
    margin: 0.6rem 0;
  }
  label {
    margin: 0 0 0.6rem 0;
  }
  input {
    font-family: monospace;
    border: 1px solid transparent;
    transition: border-color 0.25s;
    display: block;
    padding: 0.6em 1.2em;
    flex-grow: 1;
  }
}