.component-geochat {
  background: #1f1523aa;
  // blur filter on background
  backdrop-filter: blur(10px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  transition: all 250ms ease-out;

  // mobile
  @media screen and (max-width: 640px) {
    border-top: 1px solid #4707b1;
    height: 40svh;
    width: 100vw;
    &.show {
      top: 60svh;
    }
    &.hide {
      top: 100svh;
    }
  }

  // desktop
  @media screen and (min-width: 641px) {
    border-left: 1px solid #4707b1;
    height: 100svh;
    width: 40vw;
    &.show {
      left: 60vw;
    }
    &.hide {
      left: 100vw;
    }
  }
  .title {
    color: #d3baf3;
    margin: 0.3rem 0.5rem 0.5rem 0.5rem;
    // font-weight: 300;
  }
}

.component-geochatbutton {
  animation: fadein 1s, swoopup 1s;
  align-items: center;
  background-color: #7200ff;
  border-radius: 50%;
  border: 2px solid #4707b1;
  bottom: 2rem;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 7px;
  position: absolute;
  right: 0.25rem;
  width: 50px;
  transition: all 250ms ease-out;

  // mobile
  @media screen and (max-width: 640px) {
    &.show {
      bottom: calc(40svh + 1rem);
    }
    &.hide {
      bottom: 0.5rem;
    }
  }

  // desktop
  @media screen and (min-width: 641px) {
    &.show {
      right: calc(40vw + 0.25rem);
    }
    &.hide {

    }
  }
}

.show .chat {
  // fade in and swoop up animation on load
  animation: fadein 1s, swoopup 1s;
  background: #51239b33;
  border: 1px solid #4707b1;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  color: #b68ee4;
  font-weight: 300;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  // width: 90%;
  // white-space: pre-wrap;
  word-break: break-word;
  // fade in animation
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  // swoop up animation
  @keyframes swoopup {
    from { transform: translateY(100px); }
    to   { transform: translateY(0); }
  }
  .chat-date {
    border-bottom: 1px solid #b68ee466;
  }
}
