// @use '../globals';

.component-logobutton {
  cursor: pointer;
  position: absolute;
  top: .25rem;
  left: 0;
  z-index: 1;

  & .button {
    position: relative;
    top: 0rem;
    transition: none;
  }

  & .button:active {
    top: 0.5rem;
    transition: all 150ms ease-out;
  }
}