// placeform.scss

#component-placeform {
  background-color: #121212;
  border-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px #4a5968;
  box-sizing: border-box;
  height: 74svh;
  left: 5vw;
  margin-bottom: 10rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  position: absolute;
  top: 20svh;
  width: 90vw;
  z-index: 2;

  &.edit {
    height: 50svh;
    top: 44svh;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  label {
    cursor: pointer;
  }

  label, input, select, textarea {
    display: block;
    padding: 0.5rem;
    width: 100%;
  }
  label + input, label + textarea, label + select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-color: transparent;
    margin-bottom: 0.5rem;
  }
  select {
    margin-right: 1rem;
  }
  fieldset {
    border: 1px solid #fff3;
    border-radius: 0.25rem;
  }

  animation: placeform-fade-in 150ms ease-out forwards, modal-swoop-up 150ms ease-out forwards;

  @keyframes placeform-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes modal-swoop-up {
    0% {
      transform: translateY(20svh);
    }
    100% {
      transform: translateY(0svh);
    }
  }
}