$place-card-width: 33svh;

#selected-places {
  perspective: 1500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; // Add this line
  position: absolute;
  top: max(10svh, 65px);
  left: 0.25rem;
  max-width: 40svw;
  max-height: 90svh;
  overflow: hidden;
}

.selected-place {
  // flex-shrink: 0; // Add this line
  // flex-grow: 1; // Add this line
  animation: fadein 1s;//, swoopup 1s;
  border-radius: 1rem;
  background: rgba(20, 6, 32, 0.667);
  backdrop-filter: blur(10px);
  border: 1px solid #4707b166;
  padding: 0.5rem;
  margin: 0.125rem;
  font-size: 12px;
  text-align: left;
  min-width: 100%;
  display: block;
}

.place-name {
  font-size: 14px;
  font-weight: lighter;
  margin: 0rem;
}